<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <title>AFP</title>
        <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />

        <!-- UIkit CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.3/dist/css/uikit.min.css" />

        <!-- UIkit JS -->
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.3/dist/js/uikit.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.3/dist/js/uikit-icons.min.js"></script>

        <!-- extras -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <script th:src="@{/assets/js/vueplotly.js}"></script>
        <script th:src="@{/assets/js/accounting.min.js}"></script>

    </head>

    <body class="uk-container">

        <div id="app">

            <br><br>

            <div class="uk-card uk-card-default">
                <div class="uk-card-header">
                    <h3 class="uk-card-title">Simulacion AFP</h3>
                </div>    
                <div class="uk-card-body">
                    <form class="uk-form-horizontal uk-margin-large">

                        <div class="uk-margin">
                            <label class="uk-form-label" for="form-horizontal-text">Afp</label>
                            <div class="uk-form-controls">
                                <select class="uk-select uk-width-small" v-model="selectedAfp">
                                    <option v-for="x in afps" v-bind:value="x">
                                        {{ x.name }}
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="uk-margin">
                            <label class="uk-form-label" for="form-horizontal-text">Fondo</label>
                            <div class="uk-form-controls">
                                <select class="uk-select uk-width-small" v-model="selectedFondo">
                                    <option v-for="x in fondos" v-bind:value="x">
                                        {{ x.name }}
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="uk-margin">
                            <label class="uk-form-label" for="form-horizontal-text">Periodo</label>
                            <div class="uk-form-controls">
                                <select class="uk-select uk-width-small" v-model="selectedInicio">
                                    <option v-for="x in periodos" v-bind:value="x">
                                        {{ periodoToStr(x) }}
                                    </option>
                                </select>
                                -
                                <select class="uk-select uk-width-small" v-model="selectedFin">
                                    <option v-for="x in periodos" v-bind:value="x">
                                        {{ periodoToStr(x) }}
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="uk-margin">
                            <label class="uk-form-label" for="form-horizontal-text">Cotizacion</label>
                            <div class="uk-form-controls">
                                <input class="uk-input uk-width-small" type="text" value="30000" v-model="cotizacion">
                            </div>
                        </div>

                        <div class="uk-margin">
                            <label class="uk-form-label" for="form-horizontal-text">Comision</label>
                            <div class="uk-form-controls">
                                <input class="uk-input uk-width-small" type="text" value="3000" v-model="comision">
                            </div>
                        </div>

                        <div class="uk-margin">
                            <label class="uk-form-label" for="form-horizontal-text">Tasa Fija</label>
                            <div class="uk-form-controls">
                                <input class="uk-input uk-width-small" type="text" value="0.002" v-model="tasaFija">
                                (Tasa fija para comparar, por ejemplo, deposito a plazo) 
                            </div>
                        </div>

                        <div class="uk-margin">
                            <!--                            <label class="uk-form-label" for="form-horizontal-text">Tasa Fija (*)</label>
                                                        <div class="uk-form-controls">
                                                            <input class="uk-input uk-width-small" type="text" value="0.002" v-model="tasaFija">
                                                        </div>-->
                            <a class="uk-button uk-button-default uk-button-primary" v-on:click="simular">
                                Simular 
                            </a>
                        </div>

                    </form>

                    <table class="uk-table uk-table-small uk-table-striped">
                        <caption>Resumen</caption>
                        <thead>
                            <tr>
                                <th>Total Base</th>
                                <th>Total AFP</th>
                                <th>Total Tasa Fija</th>
                                <th>Rentabilidad AFP</th>
                                <th>Rentabilidad Tasa Fija</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                            <tr>
                                <td>{{ formatMoney(data.totalBase) }}</td>
                                <td>{{ formatMoney(data.totalAfp) }}</td>
                                <td>{{ formatMoney(data.totalFijo) }}</td>
                                <td>{{ (data.rentabilidadAfp*100).toFixed(2) }}%</td>
                                <td>{{ (data.rentabilidadFija*100).toFixed(2) }}%</td>
                            </tr>
                        </tbody>
                    </table>

                    <br>

                    <table class="uk-table uk-table-small uk-table-striped">
                        <caption>Detalle</caption>
                        <thead>
                            <tr>
                                <th>Periodo</th>
                                <th>Acum. Base</th>
                                <th>Tasa Afp</th>
                                <th>Acum. Afp</th>
                                <th>Acum. Tasa Fija</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="x in data.intervals">
                                <td>{{ periodoToStr(x.periodo) }}</td>
                                <td>{{ formatMoney(x.totalNone) }}</td>
                                <td>{{ (x.tasaAfp*100).toFixed(2) }}%</td>
                                <td>{{ formatMoney(x.totalAfp) }}</td>
                                <td>{{ formatMoney(x.totalFija) }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
        <!--</div>-->

        <script th:src="@{/assets/js/utils.js}"></script>
        <script>







var app = new Vue({
    el: '#app',
    data: {
        afps: [],
        fondos: [],
        periodos: [],
        rentabilidad: [],
        data: {intervals: [], totalAfp: 0.0, totalBase: 0.0, totalFijo: 0.0, rentabilidadAfp: 0.0, rentabilidadFija: 0.0},
        selectedAfp: {},
        selectedFondo: {},
        selectedInicio: {},
        selectedFin: {},
        cotizacion: 30000,
        comision: 3000,
        tasaFija: 0.002
    },
    created: function () {
        $.get(getCtx() + "/api/data/db").done((x) => {
            this.afps = x.afps;

            for (var i = 0; i < this.afps.length; i++) {
                var afp = this.afps[i];
                if (afp.name === 'PROMEDIO') {
                    this.selectedAfp = afp;
                    break;
                }
            }

            this.fondos = x.fondos;
            this.selectedFondo = this.fondos[0];

            this.periodos = x.periodos;
            this.selectedInicio = this.periodos[0];
            this.selectedFin = this.periodos[this.periodos.length - 1];

            this.rentabilidad = x.rentabilidad;
        });
    },
    methods: {
        simular: function () {

            var p1 = this.periodoToInt(this.selectedInicio);
            var p2 = this.periodoToInt(this.selectedFin);
            if (p2 <= p1) {
                UIkit.notification({timeout: 1000, message: 'Seleccione un periodo valido', status: 'warning'});
                return;
            }

            var data = {
                afp: this.selectedAfp.id,
                fondo: this.selectedFondo.id,
                inicio: this.selectedInicio.id,
                fin: this.selectedFin.id,
                cotizacion: this.cotizacion,
                comision: this.comision,
                tasaFija: this.tasaFija
            };

            $.get(getCtx() + "/api/simulate", data).done((x) => {
                this.data = x.data;
//                console.log(this.data);
            });

        },
        periodoToStr: function (p) {
            var aux = p.month < 10 ? "0" + p.month : p.month;
            return p.year + "-" + aux;
        },
        periodoToInt: function (p) {
            return p.year * 100 + p.month;
        },
        formatMoney: function(number){
            return accounting.formatMoney(number, symbol = "$", precision = 0, thousand = ".",decimal = ",",format = "%s%v");
        }
        
    }

});

        </script>
    </body>

</html>