<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <title>AFP</title>
        <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />

        <!-- UIkit CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.3/dist/css/uikit.min.css" />

        <!-- UIkit JS -->
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.3/dist/js/uikit.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.3/dist/js/uikit-icons.min.js"></script>

        <!-- extras -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <script th:src="@{/assets/js/vueplotly.js}"></script>

    </head>

    <body class="uk-container">

        <div id="app">

            <br><br>

            <div class="uk-card uk-card-default">
                <div class="uk-card-header">
                    <h3 class="uk-card-title">Simulacion</h3>
                </div>    
                <div class="uk-card-body">
                    <div class="uk-margin">
                        Afp
                        <select class="uk-select uk-width-small" v-model="selectedAfp">
                            <option v-for="x in afps" v-bind:value="x">
                                {{ x.name }}
                            </option>
                        </select>

                        Fondo
                        <select class="uk-select uk-width-small" v-model="selectedFondo">
                            <option v-for="x in fondos" v-bind:value="x">
                                {{ x.name }}
                            </option>
                        </select>

                        Inicio
                        <select class="uk-select uk-width-small" v-model="selectedInicio">
                            <option v-for="x in periodos" v-bind:value="x">
                                {{ periodoToStr(x) }}
                            </option>
                        </select>

                        Fin
                        <select class="uk-select uk-width-small" v-model="selectedFin">
                            <option v-for="x in periodos" v-bind:value="x">
                                {{ periodoToStr(x) }}
                            </option>
                        </select>

                    </div>

                    <div class="uk-margin">
                        Cotizacion
                        <input class="uk-input uk-width-small" type="text" value="30000" v-model="cotizacion">

                        Comision
                        <input class="uk-input uk-width-small" type="text" value="3000" v-model="comision">

                        Tasa Fija (*)
                        <input class="uk-input uk-width-small" type="text" value="0.002" v-model="tasaFija">

                        <a class="uk-button uk-button-default" v-on:click="simular">
                            Simular 
                        </a>
                    </div>

                    <div class="uk-margin">
                        (*) Tasa fija comparativa, por ejemplo, deposito a plazo
                    </div>

                    <table class="uk-table">
                        <thead>
                            <tr>
                                <th>Periodo</th>
                                <th>Tasa Afp</th>
                                <th>Total Fondo</th>
                                <th>Tasa cero</th>
                                <th>Total Tasa Cero</th>
                                <th>Tasa Fija</th>
                                <th>Total Tasa Fija</th>
                            </tr>
                        </thead>
                        <tbody>
<!--                             private AfpDbPeriodo periodo;
    private double tasaAfp;
    private double totalAfp;
    private double tasaNone;
    private double totalNone;
    private double tasaFija;
    private double totalFija;-->
                            
                            <tr v-for="x in data">
                                <td>{{ periodoToStr(x.periodo) }}</td>
                                <td>{{x.tasaAfp}}</td>
                                <td>{{x.totalAfp}}</td>
                                <td>{{x.tasaNone}}</td>
                                <td>{{x.totalNone}}</td>
                                <td>{{x.tasaFija}}</td>
                                <td>{{x.totalFija}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
        <!--</div>-->

        <script th:src="@{/assets/js/utils.js}"></script>
        <script>

var app = new Vue({
    el: '#app',
    data: {
        afps: [],
        fondos: [],
        periodos: [],
        rentabilidad: [],
        data: [],
        selectedAfp: {},
        selectedFondo: {},
        selectedInicio: {},
        selectedFin: {},
        cotizacion: 30000,
        comision: 3000,
        tasaFija: 0.002
    },
    created: function () {
        $.get(getCtx() + "/api/data/db").done((x) => {
            this.afps = x.afps;
            this.selectedAfp = this.afps[0];

            this.fondos = x.fondos;
            this.selectedFondo = this.fondos[0];

            this.periodos = x.periodos;
            this.selectedInicio = this.periodos[0];
            this.selectedFin = this.periodos[0];

            this.rentabilidad = x.rentabilidad;
        });
    },
    methods: {
        simular: function () {
            var data = {
                afp: this.selectedAfp.id,
                fondo: this.selectedFondo.id,
                inicio: this.selectedInicio.id,
                fin: this.selectedFin.id,
                cotizacion: this.cotizacion,
                comision: this.comision,
                tasaFija: this.tasaFija
            };

            $.get(getCtx() + "/api/simulate", data).done((x) => {
                this.data = x.data;
//                console.log(this.data);
            });

        },
        periodoToStr: function (p) {
            var aux = p.month < 10 ? "0" + p.month : p.month;
            return p.year + "-" + aux;
        },
        periodoToInt: function (p) {
            return p.year * 100 + p.month;
        }
    }

});

        </script>
    </body>

</html>